.details__body {
    height: 100vh;
}


.details__container {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-rows: 2fr 2fr 0.5fr;
    background: black;
}

.details__profileimg {
    height: 5rem;
    width: 5rem;
}

.details__cityimg {
    width: 20rem;
}

.details__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
}

.details__mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: blanchedalmond;
}

.details__bot {
    display: flex;
    justify-content: space-between;
    background: cadetblue;
    align-items: center;
}