.footer-container {
  height: 50px;
  width: 100%;
  background-color: var(--color-yellow);
  color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 4px var(--color-red);
}
