a {
  color: var(--color-red);
  cursor: pointer;
}
.header-container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-yellow);
  overflow: hidden;
  padding: 0 10px;
}

.add-destination-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 1rem;

}
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.img-container img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: solid 2px var(--color-black);
}
.profile-container-loggedin {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logout-btn {
  border: none;
  border-radius: 8px;
  background-color: var(--color-red);
  padding: 3px 8px;
  color: var(--color-white);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 1rem;
}
.profile-container-loggedout {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.login-btn {
  border: none;
  border-radius: 16px;
  background-color: green;
  padding: 1rem 1rem;
  color: var(--color-white);
  cursor: pointer;
  font-size: 1.5rem;
}
.header-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--color-red);
  border-radius: 1rem;
  height: auto;
  width: 300px;
  padding: 1rem;
  color: var(--color-white);
  border: solid 2px var(--color-black)
}
.header-modal h3 {
  max-width: fit-content;
  cursor: pointer;
  color: var(--color-black);
}
.header-modal h2 {
  margin: auto;
  max-width: fit-content;
}
.header-modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
}
.header-modal input {
  width: 80%;
  border: none;
  border-radius: 8px;
  padding: 3px 8px;
}
.header-modal span {
  cursor: pointer;
  font-style: italic;
}
.header-modal p {
  margin: auto;
  max-width: fit-content;
}


/* ========================== MEDIA QUERIES (MEDIUM DEVICES) ======================= */

@media screen and (min-width: 601px) {
  .td-small {
    display: none;
  }

}

/* ========================== MEDIA QUERIES (SMALL DEVICES) ======================= */

@media screen and (max-width: 600px) {
  .td-big {
    display: none;
  }
}